<div class="beneficiariesTable">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
          Your loaded Real Estate Transactions
        <span>
          <button mat-raised-button color="accent" (click)="openBeneficiaryForm(beneficiaryInput)"><mat-icon>add</mat-icon>Add new</button>
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container mat-elevation-z8">
            <div class="loading-shade"
                 *ngIf="(data.isLoading$ | async) || (data.noBeneficiaries$ | async)">
              <mat-spinner *ngIf="data.isLoading$ | async"></mat-spinner>
              <div class="noBeneficiaries" *ngIf="data.noBeneficiaries$ | async">
                You currently don't have any beneficiaries loaded.
              </div>
            </div>

            <div class="table-container">

              <table mat-table [dataSource]="data" class="table">
                <ng-container matColumnDef="beneficiaryName">
                  <th mat-header-cell *matHeaderCellDef>Street</th>
                  <td mat-cell *matCellDef="let row">{{row.street}}</td>
                </ng-container>

                <ng-container matColumnDef="accountNumber">
                  <th mat-header-cell *matHeaderCellDef>City</th>
                  <td mat-cell *matCellDef="let row">{{row.city}}</td>
                </ng-container>

                <ng-container matColumnDef="bankName">
                  <th mat-header-cell *matHeaderCellDef>State</th>
                  <td mat-cell *matCellDef="let row">{{row.state}}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon style="cursor: pointer;" mat-button color="accent" (click)="openBeneficiaryForm(row)">edit</mat-icon>
                  </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon style="cursor: pointer;" mat-button color="warn" (click)="openConfirmationPage(row)">delete</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
    </mat-card-content>
  </mat-card>
</div>
